[Unit]
Description=tycho-wallet-api
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=no
WorkingDirectory=/etc/tycho-wallet-api
ExecStart=/usr/local/bin/tycho-wallet-api server --config /etc/tycho-wallet-api/config.json --global-config /etc/tycho-wallet-api/global-config.json --keys /etc/tycho-wallet-api/keys.json

[Install]
WantedBy=multi-user.target
